<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>最強の小説を作りたいんです</title>
</head>
<body>
  <h1>合体したい小説</h1>
  <form action="/output" method="get">
    <select name="book1">
        <option value=1>銀河鉄道の夜</option>
        <option value=2>痴人の愛</option>
        <option value=3>檸檬</option>
        <option value=4>河童</option>
        <option value=5>山月記</option>
    </select>
    <select name="book2">
        <option value=1>銀河鉄道の夜</option>
        <option value=2>痴人の愛</option>
        <option value=3>檸檬</option>
        <option value=4>河童</option>
        <option value=5>山月記</option>
    </select>
　　<input type="submit" value="合体" />
</form>  
</body>
</html>